<div class="tui-container mt-20">
  <h1 class="mb-2 text-6xl font-light text-gray-900 pl-4">
    Emissions Data Verification
  </h1>

  <div class="stepper flex">
    <!-- For Loop would work but this specific component does not allow-->
    <tui-stepper [activeItemIndex]="currentStep" #stepper>
      <button tuiStep (click)="next()">
        {{ steps[0].label }}
      </button>

      <button tuiStep>
        {{ steps[1].label }}
      </button>
      <button tuiStep>
        {{ steps[2].label }}
      </button>
      <button tuiStep>
        {{ steps[3].label }}
      </button>
    </tui-stepper>
  </div>

  <app-emissions-question
    *ngIf="currentStep === 0"
    [Question1Details]="currentGroup"
  >
  </app-emissions-question>
  <app-emissions-question
    *ngIf="currentStep === 1"
    [Question2Details]="currentGroup"
  >
  </app-emissions-question>
  <app-emissions-confirm *ngIf="currentStep === 2" [form]="form">
  </app-emissions-confirm>

  <div>
    <button class="prev" tuiButton *ngIf="currentStep !== 0" (click)="prev()">
      Previous
    </button>
    <button tuiButton size="m" (click)="next()" *ngIf="currentStep !== 2">
      Next
    </button>
    <button
      tuiButton
      themeColor="primary"
      (click)="submit()"
      *ngIf="currentStep === 2"
    >
      Submit
    </button>
  </div>
  Assurance: {{ form.value.Question1Details?.assuranceValue }}

  Scope Value1: {{ form.value.Question1Details?.scopeValue1 }} Scope Value3:
  {{ form.value.Question1Details?.scopeValue3 }}
</div>
