<ng-container
  [formGroup]="Question1Details ? Question1Details : Question2Details"
>
  <div class="tui-col_8">
    <h3 class="tui-form__header tui-form__header_margin-top_none">
      Question {{ Question1Details ? 1 : 2 }} : Does the company obtain
      independent, third-party verification for its emissions data? If so, to
      what level of assurance?
    </h3>

    <div class="tui-form__row">
      <span class="tui-required"></span>
      Verifier:
      <tui-radio-labeled
        formControlName="verifierValue"
        class="tui-space_bottom-3"
        item="Yes"
      >
        Yes
        <tui-input
          formControlName="verifierValueText"
          tuiHintContent="A tooltip"
        >
          If Yes, who:

          <input placeholder="Field placeholder" tuiTextfield />
        </tui-input>
      </tui-radio-labeled>
      <tui-radio-labeled
        formControlName="verifierValue"
        class="tui-space_bottom-3"
        item="No"
      >
        No
      </tui-radio-labeled>

      <tui-error
        formControlName="verifierValue"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <label>
      Assurance Level

      <tui-select formControlName="assuranceValue" class="tui-space_bottom-4">
        Choose Level
        <tui-data-list *tuiDataList>
          <button tuiOption value="Limited assurance">Limited assurance</button>
          <button
            tuiOption
            value="Reasonable
                    assurance"
          >
            Reasonable assurance
          </button>
        </tui-data-list>
      </tui-select>
    </label>
    <!-- Scope -->
    <div class="tui-form__row">
      Scope Verified:
      <tui-checkbox-labeled formControlName="scopeValue1" size="m">
        Scope 1 and/or 2
      </tui-checkbox-labeled>
      <tui-checkbox-labeled
        formControlName="scopeValue3"
        size="m"
        class="tui-space_top-5"
      >
        Scope 3
      </tui-checkbox-labeled>
    </div>

    <!-- Disclosure Location-->
    <div class="tui-form__row">
      <tui-input-files
        accept="application/pdf"
        [formControl]="control"
        [multiple]="true"
        (ngModelChange)="control.markAsTouched()"
        (reject)="onReject($event)"
      ></tui-input-files>

      <tui-files class="tui-space_top-1">
        <tui-file
          *ngFor="let file of control.valueChanges | async"
          [file]="file"
          [showDelete]="control.enabled"
          (removed)="removeFile(file)"
        ></tui-file>

        <tui-file
          *ngFor="let file of rejectedFiles"
          state="error"
          [file]="file"
          [showDelete]="control.enabled"
          (removed)="clearRejected(file)"
        ></tui-file>
      </tui-files>

      <tui-error
        [error]="['maxLength'] | tuiFieldError | async"
        [formControl]="control"
      ></tui-error>
      <!-- here: {{control | json }} -->
    </div>
  </div>
</ng-container>
