<ng-container
  [formGroup]="Question1Details ? Question1Details : Question2Details"
>
  <div class="tui-col_12">
    <h3 class="text-lg pt-4">
      Does the company obtain independent, third-party verification for its
      emissions data? If so, to what level of assurance?
    </h3>

    <div class="tui-form__row grid grid-flow-col">
      <div>
        <h4 class="text-lg pb-3">
          Verifier <span class="tui-required text-red-600"></span>:
        </h4>
        <tui-radio-labeled
          formControlName="verifierValue"
          class="tui-space_bottom-3"
          item="Yes"
          size="l"
        >
          Yes
          <tui-input
            formControlName="verifierValueText"
            tuiHintContent="A tooltip"
            tuiTextFieldSize="s"
            tuiTextfieldCleaner="true"
            class="p-0"
          >
            If Yes, who:

            <input placeholder="Field placeholder" tuiTextfield />
          </tui-input>
        </tui-radio-labeled>
        <tui-radio-labeled
          formControlName="verifierValue"
          class="tui-space_bottom-3"
          item="No"
          size="l"
        >
          No
        </tui-radio-labeled>

        <tui-error
          formControlName="verifierValue"
          [error]="[] | tuiFieldError | async"
        ></tui-error>
      </div>
      <!-- Verification Standard-->
      <div>
        <p class="text-lg pb-3">Verification Standard:</p>
        <tui-checkbox-labeled formControlName="standardValue" size="l">
          ISO 14064-3
        </tui-checkbox-labeled>
        <tui-checkbox-labeled
          formControlName="standardValueOther"
          size="l"
          class="tui-space_top-5"
        >
          <p>
            Other
            <tui-input
              formControlName="standardValueOtherText"
              tuiHintContent="A tooltip"
              tuiTextFieldSize="s"
            >
              If Other, what standard:

              <input placeholder="Field placeholder" tuiTextfield />
            </tui-input>
          </p>
        </tui-checkbox-labeled>
      </div>
    </div>

    <!-- Assurance Level-->
    <label>
      <p class="text-lg">Assurance Level</p>

      <tui-select formControlName="assuranceValue" class="tui-space_bottom-4">
        Choose Level
        <tui-data-list *tuiDataList>
          <button tuiOption value="Limited assurance">Limited assurance</button>
          <button
            tuiOption
            value="Reasonable
                    assurance"
          >
            Reasonable assurance
          </button>
        </tui-data-list>
      </tui-select>
    </label>
    <!-- Scope -->
    <div class="tui-form__row">
      <p class="text-lg pb-3">Scope Verified:</p>
      <tui-checkbox-labeled formControlName="scopeValue1" size="l">
        Scope 1 and/or 2
      </tui-checkbox-labeled>
      <tui-checkbox-labeled
        formControlName="scopeValue3"
        size="l"
        class="tui-space_top-5"
      >
        Scope 3
      </tui-checkbox-labeled>
    </div>

    <!-- Disclosure Location-->
    <label tuiLabel="Disclosure Location">
      <p class="text-lg pt-3">Disclosure Location</p>
      <div class="tui-form__row">
        <tui-input formControlName="disclosureValue" tuiHintContent="A tooltip">
          Link
          <input placeholder="Field placeholder" tuiTextfield />
        </tui-input>
        <tui-input-files
          accept="application/pdf"
          [formControl]="control"
          [multiple]="true"
          (ngModelChange)="control.markAsTouched()"
          (reject)="onReject($event)"
        ></tui-input-files>

        <tui-files class="tui-space_top-1">
          <tui-file
            *ngFor="let file of control.valueChanges | async"
            [file]="file"
            [showDelete]="control.enabled"
            (removed)="removeFile(file)"
          ></tui-file>

          <tui-file
            *ngFor="let file of rejectedFiles"
            state="error"
            [file]="file"
            [showDelete]="control.enabled"
            (removed)="clearRejected(file)"
          ></tui-file>
        </tui-files>

        <tui-error
          [error]="['maxLength'] | tuiFieldError | async"
          [formControl]="control"
        ></tui-error>
      </div>
    </label>
  </div>
</ng-container>
