<div>
  <h3 class="tui-form__header tui-form__header_margin-top_none">
    Question 1 : Does the company obtain independent, third-party verification
    for its emissions data? If so, to what level of assurance?
  </h3>
  <p class="text-gray-800 text-bold">
    Verifier: {{ form.value.Question1Details.verifierValue }}
  </p>
  <p class="text-gray-800 text-bold">
    Assurance Level: {{ form.value.Question1Details.assuranceValue }}
  </p>
  <p class="text-gray-800 text-bold">
    Scope Verified:
    {{ form.value.Question1Details.scopeValue1 && "Scope 1 and/or 2" }}
    {{ form.value.Question1Details.scopeValue3 }}
  </p>
  <p class="text-red-800 text-bold">
    Document: {{ form.value.Question1Details.disclosureValue }}
  </p>
</div>
